// bower:scss
// endbower

table {
	display: inline-block;
	margin: 10px 0;
}
td:hover {
	background: #434343
}
.b-content {
	display: none;
	max-width: 900px;
	width: 80%;
	margin: auto;
	padding: 5px;
	text-align: center;
}
.item-h {
	background: #000;
	width: 100px;
	height: 100px;
}
.b-controll-panel {
	
}
.b-controll-panel__text {
	display: inline;
}
.b-controll-panel__button {
	margin: 0 30px;
}